In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from getpass import getpass

In [2]:
password = getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [4]:
rented_may = pd.DataFrame(engine.execute('''
SELECT film.title, COUNT(rental_date) AS rented
FROM film
LEFT JOIN
    (SELECT film_id, title, rental_date
    FROM film
    JOIN inventory USING (film_id)
    JOIN rental r USING (inventory_id)
    WHERE DATE_FORMAT(CONVERT(rental_date, DATE), '%%Y %%M') = '2005 May') sub
    USING (film_id)
GROUP BY film.title;
'''))
rented_may

                 title  rented
0     ACADEMY DINOSAUR       2
1       ACE GOLDFINGER       0
2     ADAPTATION HOLES       1
3     AFFAIR PREJUDICE       2
4          AFRICAN EGG       1
..                 ...     ...
995     YOUNG LANGUAGE       0
996         YOUTH KICK       0
997       ZHIVAGO CORE       1
998  ZOOLANDER FICTION       1
999          ZORRO ARK       3

[1000 rows x 2 columns]

In [5]:
rented_may_io = rented_may
rented_may_io['rented'] = rented_may['rented'].apply(lambda x: 1 if x>0 else 0)
rented_may_io

                 title  rented
0     ACADEMY DINOSAUR       1
1       ACE GOLDFINGER       0
2     ADAPTATION HOLES       1
3     AFFAIR PREJUDICE       1
4          AFRICAN EGG       1
..                 ...     ...
995     YOUNG LANGUAGE       0
996         YOUTH KICK       0
997       ZHIVAGO CORE       1
998  ZOOLANDER FICTION       1
999          ZORRO ARK       1

[1000 rows x 2 columns]

In [ ]:
rented_june = pd.DataFrame(engine.execute('''
SELECT film.title, COUNT(rental_date) AS rented
FROM film
LEFT JOIN
    (SELECT film_id, title, rental_date
    FROM film
    JOIN inventory USING (film_id)
    JOIN rental r USING (inventory_id)
    WHERE DATE_FORMAT(CONVERT(rental_date, DATE), '%%Y %%M') = '2005 May') sub
    USING (film_id)
GROUP BY film.title;
'''))

rented_june_io = rented_june
rented_june_io['rented'] = rented_june['rented'].apply(lambda x: 1 if x>0 else 0)

In [ ]:
film_categories = pd.DataFrame(engine.execute('''
SELECT f.title, c.name
FROM film f
JOIN film_category fa USING (film_id)
JOIN category c USING (category_id)
GROUP BY f.title, c.name
ORDER BY f.title;
'''))
film_categories.name.unique()

In [ ]:
film_ratings = pd.DataFrame(engine.execute('''
SELECT f.title, f.rating
FROM film f;
'''))
film_ratings.rating.unique()

In [ ]:
film_lens = pd.DataFrame(engine.execute('''
SELECT f.title, f.length
FROM film f;
'''))
film_lens.isna().sum()

In [ ]:
film_durations = pd.DataFrame(engine.execute('''
SELECT f.title, f.rental_duration
FROM film f;
'''))
film_durations

In [ ]:
film_rates = pd.DataFrame(engine.execute('''
SELECT f.title, f.rental_rate
FROM film f;
'''))
film_rates.rental_rate = film_rates.rental_rate.astype(float)
film_rates

In [ ]:

film_pays_may = pd.DataFrame(engine.execute('''
SELECT film.title, avg_price
FROM film
LEFT JOIN
    (SELECT f.film_id, f.title, AVG(p.amount) AS avg_price
    FROM film f
    JOIN inventory i ON i.film_id = f.film_id
    JOIN rental r ON r.inventory_id = i.inventory_id
    JOIN payment p ON p.rental_id = r.rental_id
    WHERE DATE_FORMAT(CONVERT(rental_date, DATE), '%%Y %%M') = '2005 May'
    GROUP BY f.title, f.film_id) sub
    USING (film_id);
'''))
film_pays_may.avg_price = film_pays_may.avg_price.astype(float)
film_pays_may

In [ ]:

film_pays_june = pd.DataFrame(engine.execute('''
SELECT film.title, avg_price
FROM film
LEFT JOIN
    (SELECT f.film_id, f.title, AVG(p.amount) AS avg_price
    FROM film f
    JOIN inventory i ON i.film_id = f.film_id
    JOIN rental r ON r.inventory_id = i.inventory_id
    JOIN payment p ON p.rental_id = r.rental_id
    WHERE DATE_FORMAT(CONVERT(rental_date, DATE), '%%Y %%M') = '2005 June'
    GROUP BY f.title, f.film_id) sub
    USING (film_id);
'''))
film_pays_june.avg_price = film_pays_june.avg_price.astype(float)
film_pays_june

In [ ]:
### when avg_price NaN ----> not rented in month
### DECISION: fill with -10

# film_pays_may['avg_price'] = film_pays_may['avg_price'].fillna(film_pays_may['avg_price'].max())
# film_pays_june['avg_price'] = film_pays_june['avg_price'].fillna(film_pays_june['avg_price'].max())
film_pays_may['avg_price'] = film_pays_may['avg_price'].fillna(-10)
film_pays_june['avg_price'] = film_pays_june['avg_price'].fillna(-10)
film_pays_may.isna().sum()

In [ ]:
film_nums = pd.concat((film_lens.length, film_rates.rental_rate, film_durations.rental_duration, film_pays_may.avg_price), axis=1)
film_nums

In [ ]:
from sklearn.preprocessing import OneHotEncoder

film_cats = pd.concat((film_categories.name, film_ratings.rating), axis=1)
film_cats

encoder = OneHotEncoder(drop='first').fit(pd.DataFrame(film_cats))
encoded = encoder.transform(pd.DataFrame(film_cats)).toarray()

cols = encoder.get_feature_names_out(input_features=film_cats.columns)

onehot_encoded_cats = pd.DataFrame(encoded, columns=cols).astype(object)
onehot_encoded_cats

In [ ]:

from sklearn.model_selection import train_test_split  

X = pd.concat((film_nums, onehot_encoded_cats), axis=1)
y = rented_may_io['rented']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)
X_num_train = X_train.select_dtypes(include=np.number).reset_index(drop=True)
X_num_test = X_test.select_dtypes(include=np.number).reset_index(drop=True)
X_cat_train = X_train.select_dtypes(include=object).reset_index(drop=True).astype(float)
X_cat_test = X_test.select_dtypes(include=object).reset_index(drop=True).astype(float)

In [ ]:

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().fit(X_num_train)
X_train_norm = scaler.transform(X_num_train)
X_train_norm = pd.DataFrame(X_train_norm,columns=X_num_train.columns)

X_test_norm = scaler.transform(X_num_test)
X_test_norm = pd.DataFrame(X_test_norm,columns=X_num_train.columns)

X_train_final = pd.concat((X_train_norm, X_cat_train), axis=1)
X_test_final = pd.concat((X_test_norm, X_cat_test), axis=1)
X_test_final

In [ ]:
corr = pd.concat((X_num_train, y_train) ,axis=1).corr()
corr.rented.sort_values()

In [ ]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state=0, solver='saga',
                  multi_class='multinomial').fit(X_train_final, y_train)

predictions = classification.predict(X_train_final)
print(classification.score(X_train_final, y_train))

predictions_test = classification.predict(X_test_final)
print(classification.score(X_test_final, y_test))

In [ ]:
y2 = rented_june_io['rented']

film_nums2 = pd.concat((film_lens.length, film_rates.rental_rate, film_durations.rental_duration, film_pays_june.avg_price), axis=1)
film_nums2 = scaler.transform(film_nums2)
film_nums2 = pd.DataFrame(film_nums2,columns=X_num_train.columns)
X2 = pd.concat((film_nums2, onehot_encoded_cats), axis=1)
X2

In [ ]:
predictions2 = classification.predict(X2)
print(classification.score(X2, y2))

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y2, predictions2)          # with avg_price NaN to 0   ---> array([[118, 196],     
                                            #                                       [ 27, 659]]) 
                                            # higher precision but lower recall !